<div class="slide-deck">
  <title-slide
    @current={{current}}
    @deckMeta={{deckMeta}}
  />

  <content-slide @title="Get set up" @current={{current}} @deckMeta={{deckMeta}}>
    <p>We need the ember-cli canary channel for the next step. This is how we get it:</p>
    <code-snippet class="language-x">
      $ yarn global add ember-cli/ember-cli
    </code-snippet>
    <p>Then to make sure there isn't some global tomfoolery going on:</p>
    <code-snippet class="language-x">
      $ ember version
      ember-cli: 2.13.0-beta.3
    </code-snippet>
  </content-slide>

  <content-slide @title="Create the project" @current={{current}} @deckMeta={{deckMeta}}>
    <code-snippet class="language-x">
      $ ember new slide-deck -b @glimmer/blueprint
      $ cd slide-deck
    </code-snippet>
  </content-slide>

  <content-slide @title="Start it up" @current={{current}} @deckMeta={{deckMeta}}>
    <code-snippet class="language-x">
      $ ember serve
    </code-snippet>
    <p>When you open up <a href="http://localhost:4200/">http://localhost:4200/</a> you should see:</p>
    <blockquote>
      <h1>Welcome to Glimmer!</h1>
    </blockquote>
  </content-slide>
  
  <content-slide @title="About the app's entry point" @current={{current}} @deckMeta={{deckMeta}}>
    <p>Our app is actually just a component tree that starts with a root component. A root component is just like any other component, but it is rendered like this from <code>src/index.ts</code>:</p>
    <code-snippet class="language-typescript">
      const app = new App();
      const containerElement = document.getElementById('app');

      app.renderComponent('slide-deck', containerElement, null);
    </code-snippet>
    <p>At this time you cannot pass args into the root component. Initial state must come from inside the root component. We are working on changing that.</p>
  </content-slide>

  <content-slide @title="Give our app some data" @current={{current}} @deckMeta={{deckMeta}}>
    <p>Open up <code>src/ui/components/slide-deck/component.ts</code> and make the class look like this:</p>
    <code-snippet class="language-typescript">
      export default class SlideDeck extends Component {
        get deckMeta(): object {
          return {
            title: 'Making a slide deck with Glimmer',
            author: 'Robbie Pitts',
            twitter: '@_robbiepitts',
            github: '@robbiepitts'
          };
        }
      }
    </code-snippet>
  </content-slide>
</div>
