<div class="slide {{currentClass}}">
  <header>
    <p>{{@deckMeta.title}} / {{@deckMeta.author}} / twitter: {{@deckMeta.twitter}} / github: {{@deckMeta.github}}</p>
  </header>
  <article>
    <h1>{{@title}}</h1>
    {{yield}}
  </article>
</div>
