<div class="slide {{currentClass}}">
  <header>
    <p>{{@meta.title}} / {{@meta.author}} / twitter: {{@meta.twitter}} / github: {{@meta.github}}</p>
  </header>
  <article>
    <h1>{{@title}}</h1>
    {{yield}}
  </article>
</div>
