<div class="slide title-slide {{currentClass}}">
  <h1>{{@deckMeta.title}}</h1>
  <h2>{{@deckMeta.author}}</h2>
  <h2>twitter: {{@deckMeta.twitter}}</h2>
  <h2>github: {{@deckMeta.github}}</h2>
</div>
